/* ----copa america---- */
*{
    margin: 0;
    padding: 0;
}
body{
     font-family: 'Poppins', sans-serif;
     margin: 0;
}
.copa-america{
    background-color:#2D25A0 ;
    display: flex;
}
.copa-2021{
    margin-top:207px;
    margin-left: 156px;
    margin-bottom: 240px;
}
.copa-2021:hover{
    transform: scale(1.3);
    background-color: rgba(255, 255, 224, 0.123);
}
.fa-arrow-right{
    color:white;
}
h1{
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
    margin: 0;
}

h3{
    font-weight: bold; 
    color: #525257;
}
.copa-img{
    width: 556.01px;
    height: 438px;
    margin-top: 190px;
    margin-left: 80px;
}
.copa-img:hover{
    transform: rotate(30deg) scale(1.2);
}
.color{
    background-color: #E02C6D;
    width: 120px;
    color: honeydew;
    padding: 5px;
}
.arrow-color{
    color: honeydew;
}
/* --------players details-------- */
.players-details{
    padding: 15px;
}
.players{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    background-color:#FFFFFF ; 
    padding: 100px 100px 100px 100px;
    
}
.player{
    padding: 10px;
    box-shadow: 0px 0px 40px lightgray;
}
.player img{
    width: 300px;
    height: 250px;
    padding: 15px;
}
/* ----highlights---- */
.all-highlights{
    width: 466px;
    height: 300px;
    margin-left: 120px;
    box-shadow: 0px 0px 40px lightgray;
    padding: 20px;
}
.match img{
    width: 467px;
    height: 327px;
    margin-left: 110px;
}
.highlights{
    display: flex;
    background-color: #FFFFFF ;
    : black;
}
.font-color{
    color: black;
}
/* ------extra----- */
.leage{
    box-shadow: 0px 0px 40px lightgray;
    padding: 10px 50px;
    margin: 100px 200px 0 200px;
    border-radius: 10px;
    text-align: center;
}
/* --------footer--------- */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    display: flex; 
    padding: 20px;
    color:#B2B2B2;
}
.footer img{
    width: 483.87px;
    height: 213px;
    margin-top: 70px;
}
/* ------media queries------ */
@media only screen and (max-width:688px){
    .copa-america{
        width:100%;
        display: block;
        margin: 0;
        padding: 0;
    }
    .copa-2021{
        grid-template-columns:repeat(1,1fr) ;
    }
    h1{
        font-weight: bold;
        font-size: 30px;
        color: #FFFFFF;
        margin: 0;
    }
    .copa-img{
        width: 100%;
        height: 238px;
        margin: 0;
        padding: 0;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        margin: 0;
    }
    .highlights{
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }
    .all-highlights{
        width: 100%;
        height: 500px;
        box-shadow: 0px 0px 40px lightgray;
        margin: 0;
        padding: 0;
    }
    .match img{
        width: 100%;
        height: 327px;
        margin: 0;
        padding: 0;
    }
    .footer img{
        width: 100%;
        height: 213px;
        margin-top: 70px;
    }
    .leage{
        box-shadow: 0px 0px 40px lightgray;
        margin: 0;
        border-radius: 10px;
        text-align: center;

}